body
{
<<<<<<< HEAD
color:rgb(90, 20, 255);
=======
color:rgb(255, 94, 20);
>>>>>>> cabecera
    text-align: center;
font-family: "Arial";
font-size: 16px;
}

#cabecera
{
    color:dodgerblue;
    text-align: right;
    

}